/local-secrets.js
/build/
/.gradle/
/buildSrc/build/
/buildSrc/.gradle/
.idea/
/clair/
.DS_Store
/.settings/

# JS Stuff
node_modules
dist
npm-debug.log
coverage
.nyc_output

# VS Code files
.project
/.vscode/

# vim files
.*.sw?
