.clock {
  text-transform: uppercase;
  padding: 0.725rem 0;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  display:inline-block; vertical-align: middle;
}

.widget_core_hours{
}

.widget_soft_core_hours{
  background-color: #1e50ff;
}

.widget_outside_core_hours{
  background-color: #191970;
}