.widget__background{
    background-color: rgb(0, 120, 233);
}

.nodepools_list_wrapper {
    padding: 1rem 1rem;
}

.nodepool_list_item {
    text-align: left;
    padding: 0rem 0.5rem;
}

.nodepool_list_item_title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

.nodepool_list_item_body {
    font-size: 0.6rem;
    font-weight: 300;
    color: #fff;}