.timesince__value {
  padding: 0.725rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.timesince__value_age1{
  background-color: #4cbf55;
}

.timesince__value_age2{
  background-color: #b1b400e7;
}

.timesince__value_age3{
  background-color: rgb(190, 124, 0);
}

.timesince__value_age4{
  background-color: #f42a2a;
}

.timesince_eventText {
  padding: 0 0 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}