.timeto__value {
  padding: 0.725rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.timeto__value_age1{
  background-color: #4cbf55;
}

.timeto__value_age2{
  background-color: #b1b400e7;
}

.timeto__value_age3{
  background-color: rgb(190, 124, 0);
}

.timeto__value_age4{
  background-color: #f42a2a;
}
