.timeto__value {
  padding: 0.25rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.timeto__value_age1{
  background-color: #4cbf55;
}

.timeto__value_age2{
  background-color: #b1b400e7;
}

.timeto__value_age3{
  background-color: rgb(190, 124, 0);
}

.timeto__value_age4{
  background-color: #f42a2a;
}

div.beer {
  content:url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/198/clinking-beer-mugs_1f37b.png");
  height: 2.5em;
  width: 2.5em;
  margin: auto;
}